/venv
/training_modules/__pycache__
/training_modules/__pycache__
/modules/__pycache__
/modules/__pycache__
/training_modules/__pycache__
/modules/__pycache__
/training_modules/__pycache__
/modules/__pycache__
/modules/__pycache__
/modules/__pycache__
/modules/__pycache__
*.pyc
*.pyc
*.pyc
/modules/__pycache__
*.pyc
training/upload/~$MASTER Education Classes Roster.xlsx
*.pyc
*.pyc
/data
/training_modules/__pycache__
training_modules/__pycache__/ui_components.cpython-313.pyc
*.cpython-*.pyc
*.DS_Store
training/~$FY 26 Special Courses.xlsx
